.flex-1 {
    flex: 1 1 0%;
    overflow: hidden;
}

.flex-row {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-none {
    flex: none;
}

.shrink-0 {
    flex-shrink: 0;
}
