.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}

.white {
    background: white;
}

.overflow-auto {
    overflow: auto;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.nowrap {
    white-space: nowrap;
}
